
body
{
    background-color: #101340;
    height:100%;
    width:100%;
    margin: 0%;
    justify-content: center;
    align-items: center;

}
.sa
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.re
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ga
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ma
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.pa
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dha
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.ni
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.saa
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}